<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<title>Laundry Online | Login</title>
<meta name="author" content="Paula Wendt" />
<!-- login.css -->
<link rel="stylesheet" href="assets/css/login.css">

<script src="https://kit.fontawesome.com/006642858d.js"></script>
<!--  google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body id="fundo">
	<div class="card" id="telas">
		<div class="card-body">
		
				<div class="texto-header" align="center">
					<h2 class="label-header">Welcome to the Laundry Online Booking! But first: Login</h2>
					<hr>
				</div>
		<div class="alert alert-danger alert-dismissible fade show"
					th:if="${param.error}">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					<span>Username or password invalid</span>
				</div>
				
		
				<form  th:action="@{/login}" method="post"  role="form">
					
										
					<div class="form-group">
						<div align="left" class="label-group">
							<label>Username</label>
						</div>
						<div>
							<input type="text" name="username" class="form-control" aria-describedby="emailHelp">
						</div>
					</div>

					<div class="form-group">
						<div align="left" class="label-group">
							<label>Password</label>
						</div>
						<div>
							<input type=password name="password" class="form-control">
						</div>
					</div>
					
					<div>
						<button type="submit" class="btn-login btn btn-success btn-lg btn-block">Login</button>
					</div>
	
					<div style="margin-top: 30px;">
						<hr>
					</div>
					
					<div align="center" >
						<p><a  class="badge badge-light" href="/user/new" >Don't have an account? Register</a></p>
					</div>

					
				</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html> 